<!doctype html>
<head>
  <title >AudioConvertio</title>
  <div class="div1">
    <h1>AudioConvertio</h1>
  </div>
  <div class="form">
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
  </div>
  
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    body {
      background-color: rgb(134, 198, 218);
    }
    h1 {
            color:blue;
    }
    .div1 {
          display:flex;
          align-items:center;
          justify-content:center;
          font-family:'Roboto';
          
    }
    .form{
      display:flex;
      align-items:center;
      justify-content:center;
      font-family:'Roboto';
    }
  </style>