<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./static/style.css">
    <!-- Required styles for Material Web -->
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <!-- Required Material Web JavaScript library -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="./static/script.js"></script>
    <!-- Instantiate single textfield component rendered in the document -->
    <script>
      mdc.textField.MDCTextField.attachTo(document.querySelector('.mdc-text-field'));
    </script>
  </head>
  <body>
    <div class="center-screen">
        {% if error %}
            <div class="error-message" id='error_message'>
            <h2>Arquivo importado inválido! Tente novamente</h2>
            </div>
        {% endif %}
      <div class="box">
      <div class="title">
        <h1>AUDIO CONVERT.IO</h1>
      </div>
      <div class="form">
        <form method=post enctype=multipart/form-data>
          <label>
            <i class="mdc-button mdc-button--raised" id="select_files">Selecionar arquivos...</i>
            <input onchange="handleFiles(this.files)" class="mdc-button mdc-button--raised" type="file" name=file id="file" multiple>
          </label>
          <input  class="submit-button mdc-button mdc-button--raised" type=submit value=Upload>
        </form>
        </div>
      </div> 
    </div>
  </body>
</html>
